#main{
    width: 395px;
    height: 560px;
    border: 2px solid black;
    margin: auto;
    box-shadow: 10px 10px 5px;
    border-radius: 8px;
}
#header{
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid black;
}
#screen{
    width: 386px;
    height: 200px;
    margin-top: 2px;
}
#buttons{
    width: 395px;
    height: 365px;
}
input{
    width: 73px;
    height: 77px;
    margin: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

input:hoover{
    background: gray;
    transform: scale(1.5);
}
